<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ParadoxCentralTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="INTRA_PATH" value="\\mtl-nt-int01\wwwroot\Intranet"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DBWeb_Translator" value="DBWeb_TM40"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServer" connectionString="server=2k3sql01;uid=NetApp;pwd=ZUer$fb6Jlo;" providerName="System.Data.SqlClient"/>
    <add name="SqlServerDev" connectionString="server=2k3webdev01;uid=NetApp;pwd=ZUer$fb6Jlo;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2017.1.117.40" newVersion="2017.1.117.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2017.1.117.40" newVersion="2017.1.117.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2017.1.117.40" newVersion="2017.1.117.40"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ParadoxCentralTools.Properties.Settings>
      <setting name="ParadoxCentralTools_com_paradox_webedit_Services"
        serializeAs="String">
        <value>http://paradoxrndprojects.paradox.com:200/Services.asmx</value>
      </setting>
    </ParadoxCentralTools.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
